
body {
    margin: 0;
}

.calculate{
    background-color: beige;
    align-content: center;
}


.calculate:hover{
   background-color: green;
}

h1{
    padding: 50px;
    background-color: beige;
    margin: 0;
}



#div1{
    /* width: 100vw;
    height: 100vh; */

    display: grid;
    /* header 50, br 80, conversion 0, br 30, dropdown 50, input 50, calculate 50, */
    grid-template-rows: 50px 80px 10px 30px 50px 50px 50px 50px 50px;
    margin-left: 20%;
    margin-right: 20%;

}
